* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
    background-color: #99ABCC;
}

p {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  animation: appear 3s;
}

section{
	text-align : center;
}

body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  color: #666;
  font-size: 16px;
/*  line-height: 1.5em;*/
}

p::after{
    content: 'Hello world!';
    font-size : 100px;
    /*text-align : center;*/
    position : relative;
    height : 500px;
}


p{
    content: 'Hello world!';
    font-size: 40px;
    text-align: center;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


